.recipe-list-container
  .search-form
    display: 'flex';
    justify-content: 'space-around';
    align-items: 'flex-end';
    .search-field
      width: 80%
  .recipe-list
    .header-title
      text-align: center;
    tbody
      tr:nth-of-type(odd)
        background-color: #a1a1a1;
